.imgShow{
    width: 80px;
    height: 80px;
    border: 1px solid;
    border-color: cornflowerblue;
    border-radius: 5px;
}
.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
}
.borderImgSizeAvatar{
    height: 100px;
    width: auto;
    border-color: rgb(233, 233, 233);
    border-radius: 5px;
}