.containerMarginTop{
    margin-top: 20px !important;
}
.containerMarginBottom{
    margin-bottom: 20px !important;
}
.iPaddingRight{
    padding-right: 10px;
    
}
.linkMarginRight{
    padding-right: 5px !important;
}
.backGroundWishList{
    background-color: #F6F6F6;
}
.heightBoxSize{
    height: 50px;
}
..descriptionProduct {
    /* font-family: Open Sans, sans-serif !important;
  font-size: 18px;
  text-overflow: ellipsis !important;
  
  width: 200px;
  overflow: hidden;
  word-break: break-all; */
    font-size: 13px;
    width: auto ;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .nameProduct {
    /* font-family: Open Sans, sans-serif !important;
  font-size: 18px;
  text-overflow: ellipsis !important;
  
  width: 200px;
  overflow: hidden;
  word-break: break-all; */
    font-size: 18px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}