.backgroundColorInput{
	/* background-color: #F6F6F6; */
	border-radius: 10px;
}
.shadowContainer{
	box-shadow: 0px 0px 5px 5px #F6F6F6;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px;
	width: 700px;
}
.spad {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
input[type=text]{
	border-bottom: 1px;
  }
input[type=email]{
	border-bottom: F6F6F6 solid 1px!important;
  }
input[type=password]{
	border-bottom: F6F6F6 solid 1px!important;
  }
.redStar{
	color: red;
	font-size: 20px;
}

.register-form h2,
.login-form h2 {
	color: #252525;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
}

.register-form form .group-input,
.login-form form .group-input {
	margin-bottom: 25px;
}

.register-form form .group-input label,
.login-form form .group-input label {
	display: block;
	font-size: 18px;
	color: #252525;
	margin-bottom: 13px;
}

.register-form form .group-input input,
.login-form form .group-input input {
	border: 1px solid #ebebeb;
	height: 50px;
	width: 100%;
	padding-left: 20px;
	padding-right: 15px;
}

.register-form form .register-btn,
.register-form form .login-btn,
.login-form form .register-btn,
.login-form form .login-btn {
	width: 100%;
	letter-spacing: 2px;
	margin-top: 5px;
}

.register-form .switch-login,
.login-form .switch-login {
	text-align: center;
	margin-top: 22px;
}

.register-form .switch-login .or-login,
.login-form .switch-login .or-login {
	color: #252525;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
}

.register-form .switch-login .or-login:before,
.login-form .switch-login .or-login:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	/* background: #9f9f9f; */
	content: "";
}

.register-login-section {
	padding-top: 72px;
	padding-bottom: 80px;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.backgroundRegister{
	background-color: #F6F6F6;
}
.data-background-register{
    background-image: url("../img/hero/category.jpg");
}
.backgrounsColorRegisterForm{
	background-color: white;
}