.plusText {
  font-size: 16px;
  text-align: center;
  color: #5f5e5e;
}
.minusText {
  font-size: 16px;
  text-align: center;
  color: #5f5e5e;
}
.plusButton {
  width: 30px;
  height: 30px;
  border-color: #379af4 !important;
  border: 0.5px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 2%;
}
.plusButton:hover {
  background-color: #379af4;
  cursor: pointer;
  color: white;
}
.minusButton {
  width: 30px;
  height: 30px;
  border-color: #379af4 !important;
  border: 0.5px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 2%;
}
.minusButton:hover {
  background-color: #379af4;
  cursor: pointer;
  color: white;
}
.textBoxSize {
  width: 50px;
  border-color: #379af4 !important;
  border: 0.5px solid;
  height: 30px;
  padding-top: 0px;
  margin-left: -0.5px;
  margin-right: -1px;
  border-radius: 0%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.textQuantity {
  color: #a7a7a7;
  margin-bottom: 10px;
}
