body {
  padding: 0rem 0rem !important;
}

.like {
  font-size: 1.5rem !important;
}
.ps-btn {
  width: 100 !important;
  height: 50 !important;
}
/* .container{
      background-color: #F6F6F6 !important;
      top: 5px;
      bottom: 5px;
  } */
.card-img-top {
  vertical-align: top;
  vertical-align: bottom;
  border: rgba(140, 136, 140, 1);
  border-width: 0.25px;
}
.button {
  background-color: #4caf50 !important; /* Green */
  border: none !important;
  color: white !important;
  padding: 16px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  transition-duration: 0.4s !important;
  cursor: pointer !important;
}

.button1 {
  background-color: white !important;
  color: black !important;
  border: 2px solid #4caf50 !important;
}

.button1:hover {
  background-color: #4caf50 !important;
  color: white !important;
}
.p {
  font-size: 26px !important;
  color: #ff0000;
}
.link:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 5px 5px rgb(212, 212, 212);
}
.nav-link-card-product {
  display: block;
  padding: 0.25rem 0.25rem;
}
.boderimg_Pro {
  border:0.1px solid ;
  border-color:rgb(212, 212, 212);
}
.aHeart {
  color: #4caf50 !important;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.pcolor {
  color: black !important;
}

.size-box .size_item {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid transparent;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  margin-right: 3px;
}
.backgroundContainer {
  background-color: #4caf50 !important;
}
.textCenter {
  text-align: center !important;
}
.color-text {
  color: white !important;
}
.p1 {
  font-size: 16px !important;
  color: #ff0000;
  margin-top: 15px !important;
}
.data-background-productlist{
  background-image: url("../../img/hero/category.jpg")
}
.backGroundProductList{
    background-color: #F6F6F6;
    padding-bottom: 20px !important;
}
.paddingLeftStrong{
  padding-left: 20px;
}
.cardPaddingBottom{
  padding-left: 5px;
  padding-right: 5px;
}
.borderNoneCardProduct{
  border: none;
}
.backgroundLeftCategory{
  background-color: white;
  padding-top: 20px;
  padding-left: 15px;
  margin-top: 10px;

}
.pFontSize{
  font-size: 20px !important;
}
.backgroundRow{
  background-color: white !important;
}
.margin_card_body{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.padding_card_body{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.cardMarginTop{
  margin-top: 10px !important;
}
.containerMainMarginTop{
  margin-top: 15px !important;
}