.nameProduct {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: ;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.descriptionProduct {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 4;
  height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.sizeOnSelect{
  background-color: #dbdbdb;
  border-radius: 5px;
}
.heightBoxSize{
  height: 85px;
}
.iconHeart{
  color: #ff5353
}
.iconHeart:hover{
  cursor: pointer;
}
.displaySelectBox{
  display: inline !important;
}