.nameProduct {
    /* font-family: Open Sans, sans-serif !important;
  font-size: 18px;
  text-overflow: ellipsis !important;
  
  width: 200px;
  overflow: hidden;
  word-break: break-all; */
    font-size: 18px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
