.backGroundLayoutInvoiceDetail{
    background-color: #F6F6F6;
}
h3{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #5a5a5a;
}
.backgroundContainerMain{
    background-color: white;
    border-radius: 10px;
    height: 120px;
}
.backgroundContainerExtra{
    background-color: white;
    border-radius: 10px;
}
.pAddress{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: #379AF4;
    margin-bottom: 7px;
}
.pNameReceiver{
    padding-top: 10px;
    font-weight: 700;
    color: black;
    font-size: 18px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}
.pAddressReceiver{
    color: #949393;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.pPhoneReceiver{
    color: #949393;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
}
.pPaymentReceiver{
    color: #949393;
    font-size: 14px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
}
.paddingContainerMain{
    padding-bottom: 20px;
}
.pProduct{
    color: #949393;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.pProductPrice{
    color: #949393;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 400;
    margin-right: -15px;
    margin-left: -10px;
}
.pProductDiscount{
    color: #949393;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 400;
    margin-left: 30px;
}
.pProductQuantity{
    color: #949393;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 400;
    margin-right: -30px;
    margin-left: 20px;
}
.pProductRight{
    color: #949393;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 400;
    text-align: right;
}
.sizeHR{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.pProductCell{
    color: black;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 500;
    margin-right: 10px;
}
.pProductPriceCell{
    color: blackblack;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 500;
    margin-right: -15px;
    margin-left: -10px;
}
.pProductDiscountCell{
    color: black;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 500;
    margin-left: 30px;
}
.pProductQuantityCell{
    color: black;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 500;
    margin-right: -30px;
    margin-left: 20px;
}
.pProductRightCell{
    color: black;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-top: 20px;
    font-weight: 500;
    text-align: right;
}
.imgThumbnailProductDetail{
    margin-top: 30px;
}
.linkColor{
    color: #379AF4;
}
.buttonReturns{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-color: #379AF4 !important;
    border: 0.1px solid;
    text-align: center;
    padding-top: 5px;
    color: #379AF4;
    margin-bottom: 20px;
}
.buttonReturns:hover{
    color: white !important;
    background-color: #379AF4;
    cursor: pointer;
}
.marginBottomCalculator{
    margin-bottom: 0px;
}
.priceHightlight{
    color: #FF3B27;
    font-weight: 700;
    font-size: 18px;
}